body {
    margin: 0;
}

.row {
    font-size: 0;
    display: block;
}

.col {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

