* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a,span {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size:  90%;
}

body {
    margin: 0px;
    font-size: 13px;
    font-family:  sans-serif;
    color: #333;
    line-height: 1.5;
}
input,button {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0,.1);
    color: inherit;

}

button.entry-key {
    background: #ff6700;
    color:#fff;
    cursor: pointer;
}

input,
button.entry-key {
    width: 100%;
}

.input-group {
    margin: 10px 0;
}

img {
    max-width: 100%;
    display: block;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.row {
    display: block;
    font-size: 0;
}

.container {
    max-width: 1226px;
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-20,
.col-80 {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333%;
}

.col-11 {
    width: 91.66666666666%;
}

.col-12 {
    width: 100%;
}

.col-20 {
    width: 20%;
}

.col-80 {
    width: 80%;
}