<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no,
         initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/lib/normalize.css">
    <link rel="stylesheet" href="../../css/common/global.css">

    <link rel="stylesheet" href="../../css/component/footer.css">
</head>
<body>
    
    <div class="row footer">
        <div class="container">
            <div class="link-group">
                    <div class="col-3 qq">
                            <a href="#"><i class="fa fa-qq fa-3x"></i></a>
                    </div>
                    <div class="col-3 weibo">
                            <a href="#" ><i class="fa fa-weibo fa-3x"></i></a>
                    </div>
                    <div class="col-3 github">
                            <a href="#"><i class="fa fa-github fa-3x"></i></a>
                    </div>
                    <div class="col-3 weixin">
                            <a href="#"><i class="fa fa-weixin fa-3x"></i></a>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer last"></div>
</div>

</body>
</html>