<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no,
         initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nav</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/lib/normalize.css">
    <link rel="stylesheet" href="../../css/common/global.css">

    <link rel="stylesheet" href="../../css/component/nav.css">
</head>
<body>
    <div class="row nav">
        <div class="container">
            <div class="col-1">
                <a href="#" id="logo"><img src="../../img/logo.png" ></a>     
            </div>
            <div class="col-2 link-group">
                    <a href="#">Videos</a>
                    <a href="#">News</a>
            </div>
            <div class="col-3">
                    <form class="search-area">
                            <input id="search" class="col-9" type="search">
                            <button id="search-sumbit" class="col-3" type="submit"><i class="fa fa-search fa-lg"> </i></button>
                        </form>    
    
            </div>
            <div class="col-6 right link-group">
                <a href="#">Contact</a>
                <a href="#"><i class="fa fa-qq fa-lg"></i></a>
                <a href="#"><i class="fa fa-weibo fa-lg"></i></a>
                <a href="#"><i class="fa fa-github fa-lg"></i></a>
                <a href="#"><i class="fa fa-weixin fa-lg"></i></a>
            </div>
        </div>
    </div>
</body>
</html>