<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no,
         initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小米账号-登录</title>
    <link rel="stylesheet" href="../../css/lib/normalize.css">
    <link rel="stylesheet" href="../../css/common/global.css">

    <link rel="stylesheet" href="../../css/page/login.css">
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="#"></a>
        </div>
    </div>
    <div class="body">
            <div class="container">
                    <form id="login">
                            <div class="row tap-head-group">
                                <span class="tap-head active">账号登录</span>
                                <span class="tap-head">扫码登录</span>
                            </div>
                            <div class="input-area">
                                <div class="input-group">
                                    <input type="text">
                                </div>
                                <div class="input-group">
                                    <input type="password">
                                </div>
                                <div class="input-group">
                                    <button class="entry-key">登录</button>
                                </div>
                                <div class="row others">
                                    <div class="col-6 tal active">手机短信登录/注册</div>
                                    <div class="col-6 tar">立即注册 忘记密码？</div>
                                </div>
                            </div>
                            <div class="social-login-tac-muted">
                                <div>使用其他方式登录</div>
                                <div class="icon">
                                    <span>q</span>
                                    <span>wb</span>
                                    <span>z</span>
                                    <span>wx</span>
                                </div>
                            </div>
                        </form>
                    
            </div>       
    </div>
    <div class="footer tac">
        <div>简体| 繁体| English| 常见问题| 隐私政策</div>
        <div>小米公司版权所有-京ICP备10046444-京公网安备11010802020134号-京ICP证110507号</div>
    </div>
</body>
</html>