<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no,
     initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>order</title>
    <link rel="stylesheet" href="../../css/lib/normalize.css">
    <link rel="stylesheet" href="../../css/common/global.css">

    <link rel="stylesheet" href="../../css/page/order.css">
</head>
<body>
    <div class="row nav-order">
        <div class="container">
                <div class="col-8">
                        <span>小米MIX 2S</span>
                    </div>
                    <div class="col-4 right">
                        <div class="link-group">
                            <a href="#">概述</a>
                            <a href="#">设计</a>
                            <a href="#">参数</a>
                            <a href="#">F码通道</a>
                            <a href="#">用户评价</a>
                        </div>
                    </div>
            
        </div>
    </div>
    <div class="row product-content">
        <div class="container">
                <div class="col-6 product-picture"><img src="../../img/mix2s.jpg"></div>
                <div class="col-6">
                    <div class="pro-desc">
                        <div class="title">
                            <h1>小米MIX 2S</h1>
                        </div>
                            <div class="text"><span class="text active">「现在预约，4月3日早10点 首卖」</span>
                        搭载高通骁龙845 年度旗舰处理器 / AI超感光双摄，DxO百分相机 / 艺术品般陶瓷机身</div>
                        <div class="price">3299元</div>
                    </div>
                    <div class="book-time">
                        <div class="row title">
                            <div class="col-2">限时预约</div>
                            <div class="col-10 right">剩3天10时07分50秒</div>
                        </div>
                        <div class="price">￥ 3299</div>
                    </div>
                    <div class="shipping-address">
                            <div class="localtion">北京 北京市 东城区 永定门外街道  修改</div>
                    </div>
                    <div class="pro-versions">
                        <h2>选择版本</h2>
                        <div class="row pill active">
                            <div class="name  col-7">6GB+64GB</div>
                            <div class="price col-5 right">3299元</div>
                        </div>
                        <div class="row pill">
                            <div class="name col-7">6GB+128GB</div>
                            <div class="price col-5 right">3299元</div>
                        </div>
                        <div class="row pill">
                            <div class="name col-7">8GB+256GB 陶瓷尊享</div>
                            <div class="price col-5 right">3999元</div>
                        </div>
                    </div>
                    <div class="pro-color">
                        <h2>选择颜色</h2>
                        <div class="black">黑色</div>
                        <div class="white">白色</div>
                    </div>
                    <div class="service">
                        <div class="row">
                            <div class="col-9"><h2>选择小米提供的保障服务</h2></div>
                            <div class="col-3 right">了解保障服务</div>
                        </div>
                        <span>意外保障服务 小米MIX 2S 意外保障服务</span>
                    </div>
                    <div class="total-price">
                            <div class="desc row">
                                    <div class="col-9 ">小米MIX 2S 6GB+64GB 黑色</div>
                                    <div class="col-3 right">3299元</div>
                                </div>
                                <div class="price">总计 :3299元</div>
                    </div>
                    <div class="buy"><button>立即预约</button></div>
                        
                    </div>
                    
                </div>        
        </div>
    </div>
    <div class="row footer"></div>
</body>
</html>