           /* 全局样式开始 */
* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.body {
    margin: 0;
}
.row {
    font-size: 0; 
}
.col{
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}
       /* 全局样式结束 */
.left, .right {
    width: 50%;
} 
.right {
    text-align: right;
}
.nav {
    background: rgba(0,0, 0, .6)
    
}
.nav a {
    display: inline-block;
    color: white;
    font-family: 'Micrososoft Yahei'; 
    text-decoration: none;
    padding: 10px 5px;
    font-size: 90%;
}
.nav a:hover {
    color: white;
    background: rgba(0, 0, 0, .5);
} 

