 * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.row {
    font-size: 0;
    display: block;
}

/* .row::before, 
.row::after {
    content: "";
    display: block;
    clear: both;

} */

body {
    font-size: 13px;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #555;
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: inline-block;
    /* float: left; */
    font-size: 1rem;
    vertical-align: top;
}
.right {
    text-align: right;
}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333%;
}

.col-11 {
    width: 91.66666666666%;
}

.col-12 {
    width: 100%;
}

.card-psd {
    padding: 6%;
}

/* .fl {
    float: left;
}

.fr {
    float: right;
} */