<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no,
     initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>order</title>
    <link rel="stylesheet" href="../../css/lib/normalize.css">
    <link rel="stylesheet" href="../../css/common/global.css">

    <link rel="stylesheet" href="../../css/page/order.css">
</head>
<body>
    <div class="row nav-order">
        <div class="container">
                <div class="col-8">
                        <span>小米MIX 2S</span>
                    </div>
                    <div class="col-4 right">
                        <div class="link-group">
                            <a href="#">概述</a>
                            <a href="#">设计</a>
                            <a href="#">参数</a>
                            <a href="#">F码通道</a>
                            <a href="#">用户评价</a>
                        </div>
                    </div>
            
        </div>
    </div>
    <div class="row product-content">
        <div class="col-6 product-picture"></div>
        <div class="col-6"></div>
    </div>
    <div class="row footer"></div>
</body>
</html>