* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transform-origin: 50% 50% 900px;
  }
  
  body {
    font-size: 14px;
    font-family: sans-serif;
    color: #8590a6;
    background: #f6f6f6;
}

.row {
    font-size: 0;
    display: block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.right {
  text-align: right;
}

  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;

    /* height: 30px;
    border: black solid 1px; */
    /* margin-bottom: 30px; */
  }


    .col-1 {
        width: 8.33333333%;
    }

    .col-2 {
        width:16.66666666%;
    }
    .col-3 {
        width:25%;
    }
    .col-4 {
    width: 33.3333333333%;
  }

  .col-5 {
    width: 41.6666666666%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33333333%;
  }

  .col-8 {
    width: 66.666666666%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33333333333%;
  }

  .col-11 {
    width: 91.66666666666%;
  }

  .col-12 {
    width: 100%;
  }