/* @import "main3.css" */
/* .first {
    color: white 
    background: tomato;
    
}
.second{ 
    background: blue
}
.first,.second{font-weight: bold} */
/* .div{}
.span{}

.a{}
.b{}

.p .a1{}儿子的标签
.a span{} */

div a {
    background: olive;
}
div > a {
    background: navy;
}
div > * {
    border: 2px solid tomato;
}
span > a {
    color: tomato;
}