.row.first-screen {
    background-image: url(../../img/first-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center top;
    min-height: 776px;
    position: relative;
    margin-bottom: 30px;
}

.picture.turn {
    transform: translateY(420px);
    font-size: 0;
}

.picture.turn .main-title .text {
    font-weight: bold;
    font-size: 1.2rem;
}

.picture.turn .main-title > * {
    color: #fff;
}


h2 {
    font-size: 260%;
    margin: 0;
}

h2 .divider {
    background: #b08a43;
    width: 8%;
    display: block;
    height: 7px;
    margin: 40px 0; 
    font-weight: 800;
}

h2 .divider:hover {
    cursor: pointer;
}

h2 .divider:hover {
    cursor: pointer;
}

.main-list button {
    background: #b08a43;
    width: 20%;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 7px;
    cursor: pointer;
}

.main-list button:hover {
    background: #e9c686;
}

.hot.title h2 {
    background:  #222327;
    color: #d2d2d2;
    padding: 8px;
    margin-bottom: 10px;
}

.main .card {
    background: rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.card-title h2 {
    font-size: 180%;
    padding-bottom: 10px;
}

.desc span {
    display: block;
    padding: 8px;
    font-size: .86rem;
}

.desc .active {
    background:  #222327;
    color: #d2d2d2;
}

.desc .score {
    color: tomato;
    font-size: 2rem;
    margin: 5px;
}

.desc a {
    display: block;
    padding: 5px;
}

.row.first-screen {
    position: relative;
    display: inline-block;
    margin-top: 82px;
    width: 100%; 
}

.mesc {
    position:absolute;
    background: rgba(0, 0, 0, .3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}