/* 全局样式开始 */
* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: 0;
    background: #eee;
    color: #555;
    font-family: sans-serif, 'Microsoft';

}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.row {
    font-size: 0;
    display: block; 
}
.col {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}
.col.right {
    text-align: right;
}
       /* 全局样式结束 */